@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

$default-color: #dfe4ea;
$primary-color: #70a1ff;
$primary-text-color: #fff;
$primary-hover-button-color: #6b9af1;
$info-color: #7bed9f;
$info-text-color: #333;
$danger-color: #ff4757;
$danger-text-color: #fff;
$border-form-input-color: #ced4da;

$border-color: #eee;
$disabled-color: #eee;

$tooltip-color: #2c3e50;
$tooltip-text-color: #fff;

$list-hover-color: #eee;
$list-hover-text-color: #fff;

$dropdown-list-color: #fff;
$dropdown-item-hover-color: #f6f8fa;

$loading-text-color: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.component__group-demo {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  .button {
    margin: 5px;
  }

  .badge {
    margin: 5px;
  }
}

.button {
  display: inline-block;
  padding: 0.75rem 1.75rem;
  border-radius: 3rem;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $default-color;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  }

}

.button--primary {
  background-color: $primary-color;
  color: $primary-text-color;
}

.button--info {
  background-color: $info-color;
  color: $info-text-color;
}

.button--danger {
  background-color: $danger-color;
  color: $danger-text-color;
}

.button:disabled {
  background-color: $default-color;
  box-shadow: none !important;
}

.button--icon {
  display: flex;
  align-items: center;

  .material-icons {
    margin-right: 10px;
    font-size: 1rem;
  }
}

.button--loading {
  display: flex;
  align-items: center;
  cursor: not-allowed;

  & > .loading__icon {
    margin-right: 10px;
    font-size: 1rem;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.button--link {
  display: inline-block;
  background-color: transparent;
  border: 1px solid $primary-color;
  font-size: 1.2rem;
  padding: 0.38rem 1.65rem;
}

.badge {
  position: relative;
}

.badge__icon {
  font-size: 2rem;
}

.badge__value {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 0.8rem;
  background-color: $default-color;
  border-radius: 50%;
  padding: 0.1rem 0.3rem;
  min-width: 1.4rem;
  text-align: center;
}

.badge--primary {
  .badge__value {
    background-color: $primary-color;
    color: $primary-text-color;
  }
}

.badge--info {
  .badge__value {
    background-color: $info-color;
    color: $info-text-color;
  }
}

.badge--danger {
  .badge__value {
    background-color: $danger-color;
    color: $danger-text-color;
  }
}

.alert {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 3rem;
  text-align: justify;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.alert__text {
  margin-right: 0.5rem;
}

.alert__close {
  cursor: pointer;
  opacity: 0.8;
  user-select: none;

  &:hover {
    opacity: 1;
  }
}

.alert__label {
  display: flex;
  align-items: center;
}

.alert__checkbox-hidden:checked + .alert {
  display: none;
}

.alert--primary {
  background-color: $primary-color;
  color: $primary-text-color;
}

.alert--info {
  background-color: $info-color;
  color: $info-text-color;
}

.alert--danger {
  background-color: $danger-color;
  color: $danger-text-color;
}

.form__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid $border-form-input-color;
  border-radius: 1rem;

  .form__input {
    margin-bottom: 1rem;
  }
}

.form__input {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid $border-form-input-color;
  border-radius: 3rem;
  font-size: 1rem;
}

.form__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.modal {
  padding: 1rem;
  border: 1px solid $border-form-input-color;
  border-radius: 1rem;
}

.modal__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal__name {
  font-size: 1.5rem;
  font-weight: 700;
}

.modal__content {
  margin-bottom: 1rem;
}

.modal__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal__label {
  display: flex;
  align-items: center;
}

.modal__close {
  cursor: pointer;
  opacity: 0.8;
  user-select: none;

  &:hover {
    opacity: 1;
  }
}

.modal__checkbox-hidden:checked + .modal {
  display: none;
}

.list {
  list-style: none;
  border: 1px solid $border-form-input-color;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.list__item {
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid $border-form-input-color;
}

.list__item:last-child {
  border-bottom: none;
}

.list--hover {
  .list__item:hover {
    background-color: $primary-color;
    color: $primary-text-color;
  }
}

.list__item--selected {
  background-color: $primary-color;
  color: $primary-text-color;
}

.list__item--disabled {
  background-color: $list-hover-color;
  color: $list-hover-text-color;
  cursor: not-allowed;

  &:hover {
    background-color: $list-hover-color !important;
    color: $list-hover-text-color !important;
  }
}

.list--line {
  border: none;
}

.tool-tip {
  position: relative;
}

.tool-tip__button:hover + .tool-tip__box {
  display: block;
}

.tool-tip__icon:hover + .tool-tip__box {
  display: block;
}

.tool-tip__box {
  position: absolute;
  display: none;
  width: max-content;
  left: 1em;
  bottom: -2.2em;
  z-index: 100;
}

.tool-tip__text {
  position: relative;
  background-color: $tooltip-color;
  color: $tooltip-text-color;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.tool-tip__text::after {
  content: '';
  position: absolute;
  top: -0.4rem;
  left: 1rem;
  width: 0;
  height: 0;
  border-bottom: 0.5rem solid $tooltip-color;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  z-index: 99;
}

.button--icon + .tool-tip__box {
  bottom: -2.6rem;
}
.tool-tip--icon {
  .tool-tip__box {
    left: -0.6em;
    bottom: -1.5em;
  }
}

.tool-tip__icon {
  cursor: help;
  color: $primary-color;
}

.dropdown {
  position: relative;
  display: inline-block;
  list-style: none;
}

.dropdown__summary {
  outline: none;
  user-select: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: $primary-text-color;
  background-color: $primary-color;
  border-radius: 3rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.dropdown__summary:hover,
.dropdown__summary:active,
.dropdown__summary:focus {
  background-color: $primary-hover-button-color;
}

.dropdown__list {
  position: absolute;
  list-style: none;
  width: 100%;
  top: 2.4em;
  left: 0;
  background-color: $dropdown-list-color;
  border-radius: 0.5rem;
  border: 1px solid $border-color;
  overflow: hidden;
  z-index: 99;
}

li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown__item:hover,
.dropdown__item:active,
.dropdown__item:focus {
  background-color: $dropdown-item-hover-color;
}

.wrapper-loading-demo {
  position: relative;
  width: 100%;
  height: 1000px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: justify;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: $loading-text-color;
  
}

.loading--icon > span {
  margin-right: 0.5rem;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


.loading--border > span {
  display: block;
  height: 3rem;
  width: 3rem;
  border: .5rem solid $primary-color;
  border-right-color: transparent;
  border-radius: 50%;

  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

